@font-face {
  font-family: 'Futura';
  src: url('../public/font/FuturaLT-Book.woff') format("WOFF");
  font-weight: normal;
}

@font-face {
  font-family: 'Radio Canada';
  src: url('../public/font/RadioCanada-VariableFont_wdth_wght.woff') format("WOFF");
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Radio Canada';
}

body .night {
  background: url(../public/starry-night.jpg);
  color: white;
}

body .day {
  background: url(../public/pantai.jpg);
  background-size: cover;
}

.night~.float-btn {
  background: #FFFFFF;
  color: #000000;
}

.container {
  min-height: 100vh;
}

.contentContainer {
  padding-left: 180px;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.mt-4 {
  margin-top: 1.5rem;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.title {
  font-weight: bold;
  min-width: 200px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 3px 50px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  border-top-right-radius: 30px;
}

.night .title {
  border-top: 1px solid #fff;
}

.float-btn {
  
}

.float-btn.Resume {
  bottom: 10px;
  top: auto;
}

.new-resume-btn{
  top: 70px;
}

.text-center {
  text-align: center;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-25 {
  font-size: 25px;
}

.mt-1 {
  margin-top: 0.25em;
}

.mt-2 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 1.5em;
}

.mt-4 {
  margin-top: 2em;
}

.contact-icon {
  width: 24px;
}

.subtitle {
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.padding-container {
  
}

/* override typejs cursor css */
.typed-cursor,
.typed-cursor--blink {
  color: #72E2AE;
}

.hexagon {
  width: 100px;
  height: 100px;
  background: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(255 255 255 / 20%);
  transition: all 0.2s;
}

.hexagon:hover {
  background: rgb(236, 236, 236);
  transform: scale(1.3);
  z-index: 1;
}

.hexagonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.mtpx-20 {
  margin-top: -20px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-50 {
  width: 50%;
}

code{
  color: #72E2AE;
}

/* temp put here */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px; gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  /* padding-left: 10px; gutter size */
  background-clip: padding-box;
}


.containerContent{
  padding-left: 150px;
  min-height: 100vh;
}