@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.itemWrapper{
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.13);
  gap: 3em;
  background-color: hsla(0,0%,100%,.61);
  padding: 20px 0;
  margin-top: 2px;
}

.itemWrapper.animate{
  display: flex;
  animation-duration: 1.5s;
  animation-name: slideInFromLeft;display: flex;
}

.itemWrapper>div.withTitle{
  max-width: 100px;
}

.itemWrapper>div {
  text-align: center;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;

}

.itemContainer>div {
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.13);
}