.resumeContainer {
  display: flex;
}

.resumeLeft {
  width: 300px;
  justify-content: flex-start;
  background: #203d78;
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.resumeProfilePict{
  text-align: center;
  margin-top: 1em;
}

.resumeProfilePict img{
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.contactItem{
  margin-top: .5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

.resumeInfoContainer{
  text-align: right;
}

.resumeRight {
  width: 100%;
  padding-left: 10px;
}

.resumeLeftTitle {
  background: #002d7c;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 1.5em;
}

.resumeRightTitle{
  color: #002d7c;
  font-weight: 800;
  font-size: 18px;
  padding: 5px 10px;
  /* border-top: 1px solid #000; */
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.toggleLeftSide{
  display: none;
  text-align: right;
  padding-right: 15px;
  font-size: 30px;
  background: #000000;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  background: rgb(0 0 0 / 20%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.sidebarMenu{
  width: 80%;
}

.sidebarMenu > div{
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  transition: ease-in-out .2s;
  color: #fff;
}

.sidebarMenu > div.active,
.sidebarMenu > div:hover{
  background: #72E2AE;
  border-radius: 20px;
  color: #000000;
}

@media screen and (max-width: 768px) {

  .sidebar{
    height: 60px;
    width: 100vw;
    background: #000;
  }

  .sidebarMenu{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }

  .toggleLeftSide{
    display: block;
    cursor: pointer;
  }

  .toggleLeftSide::after{
    content: '\00BB';
  }

  .show .toggleLeftSide::after{
    content: '\00AB';
  }

  .resumeLeft{
    width: 50px;
    position: fixed;
    max-height: 100vh;
    overflow: hidden;
  }
  
  .resumeLeft.show{
    width: 300px;
    overflow: auto;
  }

  .resumeLeft *:not(.toggleLeftSide){
    visibility: hidden;
  }

  .resumeLeft.show *:not(.toggleLeftSide){
    visibility: visible;
  }

  .resumeRight{
    padding-left: 60px;
  }
}